@import '../../style/import.scss';

// =============== Switch ================
$switch-width: 44px;
$switch-height: 22px;
$switch-width__small: 32px;
$switch-height__small: 16px;
$switch-thumb-size: 18px;
$switch-thumb-size__small: 12px;
$switch-inactive-color: $color-text-disabled;
$switch-active-color: $color-brand-primary;
$switch-active-color__disabled: $color-orange-200;
$switch-inactive-color__disabled: $color-bg-widget-darker-3;
$switch-thumb-color: $color-bg-widget-normal;

$switch-prefix: 'panda-switch';

.#{$switch-prefix} {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  height: $switch-height;
  line-height: $switch-height;
  user-select: none;
  outline: none;
  color: $color-text-primary;
  font-size: 16px;
  line-height: 1.38;
  &-base {
    flex-shrink: 0;
    position: relative;
    height: 100%;
    width: $switch-width;
    > input {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: $opacity-transparent;
      z-index: 1;
      cursor: pointer;
    }
  }
  &-label {
    padding-left: 12px;
  }
  &-base &-track {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: ($switch-height / 2);
    background-color: $switch-inactive-color;
    transition: all $motion-duration-m $motion-timing-ease;
  }
  &-base &-thumb {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    height: $switch-thumb-size;
    width: $switch-thumb-size;
    border-radius: ($switch-thumb-size / 2);
    border-radius: $radius-circle;
    background-color: $switch-thumb-color;
    transition: all $motion-duration-m $motion-timing-ease;
  }
}

// size
.#{$switch-prefix}-small {
  height: $switch-height__small;
  line-height: $switch-height__small;
  font-size: 14px;
  line-height: 1.143;
  .#{$switch-prefix}-base {
    width: $switch-width__small;
  }
  .#{$switch-prefix}-label {
    padding-left: 8px;
  }
  .#{$switch-prefix}-track {
    border-radius: ($switch-height__small / 2);
  }
  .#{$switch-prefix}-thumb {
    height: $switch-thumb-size__small;
    width: $switch-thumb-size__small;
    border-radius: ($switch-thumb-size__small / 2);
  }
}

// checked
.#{$switch-prefix}-checked {
  .#{$switch-prefix}-track {
    background-color: $switch-active-color;
  }
  .#{$switch-prefix}-thumb {
    left: $switch-width - $switch-thumb-size - 2;
  }
}

.#{$switch-prefix}-checked.#{$switch-prefix}-small {
  .#{$switch-prefix}-thumb {
    left: $switch-width__small - $switch-thumb-size__small - 2;
  }
}

// disabled
.#{$switch-prefix}-disabled {
  cursor: not-allowed;
  color: $color-text-disabled;
  .#{$switch-prefix}-base {
    > input {
      cursor: not-allowed;
    }
  }
  .#{$switch-prefix}-track {
    background-color: $switch-inactive-color__disabled;
  }
}

.#{$switch-prefix}-disabled.#{$switch-prefix}-checked {
  .#{$switch-prefix}-track {
    background-color: $switch-active-color__disabled;
  }
}

.panda-switch-rtl {
  direction: rtl;
  .panda-switch-thumb {
    left: unset;
    right: 2px;
  }
}
.panda-switch-rtl.panda-switch-checked {
  .panda-switch-thumb {
    left: unset;
    right: $switch-width - $switch-thumb-size - 2;
  }
}
.panda-switch-rtl.panda-switch-checked.panda-switch-small {
  .panda-switch-thumb {
    left: unset;
    right: $switch-width__small - $switch-thumb-size__small - 2;
  }
}
